@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    
}

.section {
    padding-left: 15%;
    padding-right: 15%;
    display:flex;
}

.header {
    background-color: #1F2937;    
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding-top: 16px;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links a {
    color: #E5E7Eb;
    text-decoration: none;
    font-size: 18px;
}

.header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-links li {
    display: inline-block;
    padding: 0px 12px;
}

.section1 {
    background-color: #1F2937;
    padding-top: 112px;
    padding-bottom: 112px;
    gap: 32px;
}

.section1-left, .section1-right {
    flex:1 0 50%;
}

.section1-right {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.hero-main {
    font-size: 48px;
    font-weight: 900;
    color:#F9FaF8;
}

.hero-subtext {
    color: #E5E7Eb;
    font-size: 18px;
    
}

.section1-signup {
    border: none;
    background-color: #3882F6;
    color: #E5E7Eb;
    width: 140px;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 20px;
}

.section2 {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 128px;
}

.section2-title {
    flex:1 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 64px;
}

.section2-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.section2-item {
    flex: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color:#1F2937;
}

.item-image {
    width: 200px;
    height: 200px;
    display: block;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.section3 {
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}